<ul> 
<form action="/update" method="post">
  Income:<br>
  <input type="text" name="income" value= <%=session[:income]%> ><br>
  Expenses:<br>
  <input type="text" name="expenses" value= <%=session[:expense] %>><br> 
  <input type="submit" value="Submit">
</form>
</ul>