<!doctype html>
<html lang="en-US">
  <head>
    <title>Budget</title>
    <link rel="stylesheet" href="/main.css"  type="text/css">
  </head> 
  <body>
    <main> 
    <%= yield %> 
    </main>
    
  </body>
</html>